In [287]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [372]:
data=pd.read_csv("train.csv")

In [373]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [374]:
data.drop(columns= ["Id", "MSSubClass", "LotFrontage", "LotArea", "Street", "Utilities", "LandContour", "LandSlope", "Condition1", "Condition2",
                   "OverallQual", "YearBuilt", "YearRemodAdd", "RoofStyle", "RoofMatl", "Exterior1st", "Exterior2nd", "MasVnrType",
                   "MasVnrArea", "ExterQual", "ExterCond", "Foundation", "BsmtQual", "BsmtCond", "BsmtExposure", "BsmtFinType1", "BsmtFinSF1", 
                   "BsmtFinType2", "BsmtFinSF2", "BsmtUnfSF", "Heating", "Electrical", "1stFlrSF", "2ndFlrSF", "LowQualFinSF", "BedroomAbvGr", 
                   "BsmtFullBath", "BsmtHalfBath", "KitchenQual",  "Functional","FireplaceQu", "GarageYrBlt", "GarageFinish","CentralAir", 
                   "GarageQual", "GarageCond", "WoodDeckSF", "OpenPorchSF", "EnclosedPorch", "3SsnPorch", "ScreenPorch", "HeatingQC", "TotalBsmtSF",
                    "MiscFeature","MiscVal", "MoSold", "YrSold", "SaleType", "SaleCondition", "KitchenAbvGr", "HalfBath", "Alley", "OverallCond",
                   "MSZoning", "LotShape", "PavedDrive", "GarageArea", "GarageType","Fence", "PoolQC", "PoolArea" , "HouseStyle", "LotConfig"], inplace = True)

In [375]:
data.corr()

,GrLivArea,FullBath,TotRmsAbvGrd,Fireplaces,GarageCars,SalePrice
GrLivArea,1.000000,0.630012,0.825489,0.461679,0.467247,0.708624
FullBath,0.630012,1.000000,0.554784,0.243671,0.469672,0.560664
TotRmsAbvGrd,0.825489,0.554784,1.000000,0.326114,0.362289,0.533723
Fireplaces,0.461679,0.243671,0.326114,1.000000,0.300789,0.466929
GarageCars,0.467247,0.469672,0.362289,0.300789,1.000000,0.640409
SalePrice,0.708624,0.560664,0.533723,0.466929,0.640409,1.000000

In [376]:
X = data.drop(columns=['SalePrice'])
y = np.log(data['SalePrice'])

In [377]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score,mean_absolute_error
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor,ExtraTreesRegressor
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [378]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.15,random_state=2)

In [379]:
X_train

,Neighborhood,BldgType,GrLivArea,FullBath,TotRmsAbvGrd,Fireplaces,GarageCars
498,Sawyer,1Fam,899,1,5,0,1
690,CollgCr,TwnhsE,848,1,3,1,2
1289,NridgHt,1Fam,1970,2,8,1,3
653,IDOTRR,1Fam,1469,1,7,0,1
370,Gilbert,1Fam,1664,2,7,1,2
...,...,...,...,...,...,...,...
466,NAmes,1Fam,1277,1,5,1,2
299,Crawfor,1Fam,1152,1,6,1,1
493,NAmes,1Fam,1269,1,6,1,1
527,NridgHt,1Fam,2713,2,11,1,3
1192,OldTown,1Fam,1472,1,6,0,1

In [380]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),[0,1,])
],remainder='passthrough')

step2 = LinearRegression()

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.8313821391192318
MAE 0.12700960719209456